:root {
	font-family: 'Noto Sans SC', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* noto-sans-sc-regular - latin */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/font/noto-sans-sc-v26-latin-regular.woff2') format('woff2'), 
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('./assets/font/noto-sans-sc-v26-latin-regular.woff') format('woff'); 
}

/* noto-sans-sc-500 - latin */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/font/noto-sans-sc-v26-latin-500.woff2') format('woff2'), 
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('./assets/font/noto-sans-sc-v26-latin-500.woff') format('woff'); 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
